<?xml version="1.0" ?>
<config>
    <modules>
        <BREW_Offlinestores>
            <version>1.0.2</version>
        </BREW_Offlinestores>
    </modules>
    <global>
        <models>
            <offlinestores>
                <class>BREW_Offlinestores_Model</class>
                <resourceModel>offlinestores_resource</resourceModel>
            </offlinestores>
            <offlinestores_resource>
                <class>BREW_Offlinestores_Model_Resource</class>
                <entities>
                    <block>
                        <table>brew_offlinestore</table>
                    </block>
                </entities>
            </offlinestores_resource>
        </models>
        <resources>
            <offlinestores_setup>
                <setup>
                    <module>BREW_Offlinestores</module>
                </setup>
            </offlinestores_setup>
        </resources>
        <blocks>
            <offlinestores>
                <class>BREW_Offlinestores_Block</class>
            </offlinestores>
        </blocks>
        <helpers>
            <BREW_Offlinestores>
                <class>BREW_Offlinestores_Helper</class>
            </BREW_Offlinestores>
        </helpers>
    </global>
    <frontend>
        <routers>
            <offlinestores>
                <use>standard</use>
                <args>
                    <module>BREW_Offlinestores</module>
                    <frontName>offlinestores</frontName>
                </args>
            </offlinestores>
        </routers>
        <layout>
            <updates>
                <offlinestores module="BREW_offlinestores">
                    <file>offlinestores.xml</file>
                </offlinestores>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BREW_Offlinestores after="Mage_Adminhtml">BREW_Offlinestores_Adminhtml</BREW_Offlinestores>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
    </default>
</config>